.contenthome-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  padding-top: 24px;
}

.contenthome-container.fullscreen {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;
  gap: 16px;
  margin-bottom: 40px;
  padding-top: 24px;
}

.grid-contenthome {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  gap: 16px;
  padding-bottom: 24px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.grid-contenthome.fullscreen {
  grid-template-columns: auto auto auto auto auto;
}

.shorts-container {
  display: flex;
  flex-direction: column;
}

.title-shorts {
  display: flex;
  margin: 24px 0 24px 8px;
  align-items: center;
  color: #0f0f0f;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.title-shorts > span {
  flex: 1;
  margin-left: 8px;
}

.btn-close-shorts {
  border: none;
  background-color: transparent;
  padding: 6px 8px;
  background-color: transparent;
  border-radius: 9999px;
}
.btn-close-shorts:hover {
  background-color: rgba(144, 144, 144, 0.2);
}

.shorts-content {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 40px;
}

.button-container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}
